:root{
    --background-color1: #ecede7;
    --borderanimation-color1: grey;
    --borderanimation-color2: gold;
    --borderanimation-color3: brown;
    --borderanimation-color4: rgb(35, 0, 0);
    --borderanimation-width: 4px; 
}
body{
    height: 200vh;
    background-color: var(--background-color1);
}
.navbar{
    box-shadow: 0 0 5px grey;
    margin-bottom: 25px;
}
.about-me{
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr;
    text-align: center;
}
.about-me ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
}
.about-me ul li{
    margin: auto;
}
.description{
    grid-column: 1;
}
.description h2{
    background: -webkit-linear-gradient(360deg, gold, brown, rgb(35, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.description p{
    opacity: 0;
    text-align: justify;
    font-weight: 350;
    animation: text 2s ease-in 1;
    animation-fill-mode: forwards;
}
.description p::after{
    content: " __ ";
    opacity: 0;
    font-weight: 1000;
    animation: prompt 0.8s linear infinite;
    animation-delay: 2s;
}
blockquote hr{
    border-top: 1px solid brown;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-radius: 50%;
    margin: 1vh;
}
.photo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    padding: 10px;
}
.photo img{
    width: 100%;
    height: 75%;
    object-fit: contain;
    border-radius: 50%;
    animation: picBorderRotation 1.5s linear infinite;
}
.photo img:hover{
    animation: picture 2s linear infinite;
}
.gallery-project{
    text-align: center;
}
.gallery{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.gallery-project figure img{
    width: 250px;
    height: 200px;
    border: 2px solid brown;
}
form{
    width: 80%;
    margin: 0 auto;
}
h3{
    text-align: center;
    margin-bottom: 1vh;
}
form input:not([type="submit"]), form textarea{
    text-align: left;
    width: 100%;
    margin: 0;
    margin-bottom: 1vh;
}
#boton{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
input[type="submit"]{
    width: 100%;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    animation: picBorderRotation 2s linear infinite;
}

@keyframes text {
    to{
        opacity: 1;
    }
}
@keyframes prompt{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes picture{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.85);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes picBorderRotation{
    0%{
        border-top: var(--borderanimation-width) solid var(--borderanimation-color1);
        border-right: var(--borderanimation-width) solid var(--borderanimation-color2);
        border-bottom: var(--borderanimation-width) solid var(--borderanimation-color3);
        border-left: var(--borderanimation-width) solid var(--borderanimation-color4);
    }
    25%{
        border-top: var(--borderanimation-width) solid var(--borderanimation-color4);
        border-right: var(--borderanimation-width) solid var(--borderanimation-color1);
        border-bottom: var(--borderanimation-width) solid var(--borderanimation-color2);
        border-left: var(--borderanimation-width) solid var(--borderanimation-color3);
    }
    50%{
        border-top: var(--borderanimation-width) solid var(--borderanimation-color3);
        border-right: var(--borderanimation-width) solid var(--borderanimation-color4);
        border-bottom: var(--borderanimation-width) solid var(--borderanimation-color1);
        border-left: var(--borderanimation-width) solid var(--borderanimation-color2);
    }
    75%{
        border-top: var(--borderanimation-width) solid var(--borderanimation-color2);
        border-right: var(--borderanimation-width) solid var(--borderanimation-color3);
        border-bottom: var(--borderanimation-width) solid var(--borderanimation-color4);
        border-left: var(--borderanimation-width) solid var(--borderanimation-color1);
    }
    100%{
        border-top: var(--borderanimation-width) solid var(--borderanimation-color1);
        border-right: var(--borderanimation-width) solid var(--borderanimation-color2);
        border-bottom: var(--borderanimation-width) solid var(--borderanimation-color3);
        border-left: var(--borderanimation-width) solid var(--borderanimation-color4);
    }
}