*{
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
body{
    width: 100%;
    height: 200vh;
    margin: 0;
    background-color:rgb(29, 29, 51);
    color: aliceblue;
}
.grid-container{
    display: grid;
    grid-template-columns: 1.5fr 2fr 2fr;
    grid-template-rows: 2fr 6fr 2fr;
    grid-template-areas: 
    "header header header"
    "nav main main"
    "stack stack stack";
    margin: 0;
    padding: 0;
    gap: 10px;
}
header{
    grid-area: header;
    text-align: center;
    padding: 0;
    margin: 0;
}
header h1{
    background: linear-gradient(90deg, yellowgreen, aqua);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
}
header h2{
    margin: 0;
    padding: 0;
}
.menu-nav{
   grid-area: nav;
   background-color: transparent;
   box-shadow: 0 0 10px 2.5px yellowgreen;
   border-radius: 20px;
   margin: 20px;
   text-align: center;
   display: flex;
}
nav > ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    margin: auto auto;
    padding: 2px;
}
nav > ul > li{
    margin: 2.5px 0;
}
main{
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
    grid-area: main;
    background-color: transparent;
    gap: 10px;
}
.photo-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0;
    padding: 0;
}
.photo-container img{
    width: 50%;
    height: 50%;
    margin: 0 auto;
    border: 0.5px solid yellowgreen;
    box-shadow: 0 0 5px 1px yellowgreen;
    border-radius: 20%;
    object-fit: contain;
}
.about-me{
    width: 50%;
    margin: 0;
    padding: 0;
    text-align: justify;
}
.stack{
    grid-area: stack;
}
.gallery-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.gallery-container img{
    width: 200px;
    height: 200px;
    border: 2px solid yellowgreen;
}
h2{
    margin: 0 auto;
}
#formulario{
    width: 100%;
}
#contacto{
    width: 80%;
    margin: 0 auto;
}
#contacto input{
    display: block;
    width: 100%;
    margin: 0 auto;
}